# Python
__pycache__/
*.pyc
.venv/
.env

# Editors
.vscode/
.idea/

# Data / runs
data/
data/crops/
data/yolo/images/train/
data/yolo/images/val/
data/yolo/labels/train/
data/yolo/labels/val/
runs/
weights/
checkpoints/

# OS
.DS_Store
Thumbs.db
