# Python
__pycache__/
*.pyc
.venv/
.env

# Editors
.vscode/
.idea/

# Data / runs
data/
runs/
checkpoints/

# OS
.DS_Store
Thumbs.db

# Ignorar modelos
models/*
!models/.gitkeep

# Ignorar datasets y runs
data/*
!data/.gitkeep

runs/*
!runs/.gitkeep

# Ignorar pesos sueltos
*.pt